.container {
    padding-right: 18px;
}
.navbar {
    /* background: #ccc; */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    /* height: 12%; */
    display: flex;
    flex-flow: wrap;
    row-gap: 20px;
    justify-content: space-between;
    padding: 1rem 4%;
    box-shadow: -15px -15px 15px rgba(255, 255, 255, 0.2),
        15px 15px 15px rgba(0, 0, 0, 0.1),
        inset -5px -5px 5px rgba(255, 255, 255, 0.2),
        inset 5px 5px 5px rgba(0, 0, 0, 0.1);
}

/* title */
.main-header__title {
    letter-spacing: -1.5px;
}
.main-header__title .main-header__title--blue {
    color: var(--blue);
    font-size: clamp(2rem, 4vw, 4rem);
}
.main-header__title .main-header__title--orange {
    color: var(--orange);
    font-size: clamp(2rem, 4vw, 4rem);
}
/* fim */
nav {
    /* flex: 1; */
    /* text-align: right; */
}
nav ul li {
    /* list-style: none; */
    display: inline-block;
    /* margin-left: 24px; */
    margin-bottom: 10px;
}
nav ul li a .badge-carrinho {
    background: var(--dark-blue);
    padding: 0 5px;
    border-radius: 4px;
    color: white;
}
nav :is(a) {
    font-weight: 400;
    padding: 10px;
    color: var(--gray);
    transition: all 0.3s ease-in-out;
    font-size: clamp(1rem, 2vw, 1.5rem);
    display: block;
}
nav :is(a):hover {
    background: var(--blue);
    color: #fff;
}
.main-header__title .link-card i,
span {
    margin: 0 10px;
}

/* form*/
.search-form {
    display: flex;
    /* justify-content: flex-end; */
    max-width: 100%;
    height: auto;
}
.search-form input {
    box-sizing: border-box;
    padding: 0 1.75rem;
    flex: 1 1 auto;
    background: var(--light-gray-1);
    font-size: #9c9c9c;
    border: none;
    transition: all -3s ease-in-out;
    font-size: 1.75rem;
    width: 50%;
    height: 3.5rem;
}
.search-form button {
    display: block;
    width: 3.5rem;
    height: auto;
    background: var(--blue);
    border: none;
    font-size: 1.375rem;
    color: #fff;
}

@media (max-width: 768px) {
    .navbar {
        display: flex;
        flex-flow: column wrap;
        align-items: center;
    }
    h1,
    ul {
        text-align: center;
    }
    ul {
        margin-bottom: 10px;
    }
}

@media (max-width: 480px) {
    .search-form input {
        padding: 0 1rem;
        background: var(--light-gray-1);
        border: none;
        transition: all -3s ease-in-out;
        font-size: 1.75rem;
        width: 50%;
    }
    .search-form button {
        width: 3.5rem;
        height: auto;
        background: var(--blue);
        border: none;
        font-size: 1.375rem;
        color: #fff;
    }
}
