<section>
    <header class="container">
        <div class="navbar">
            <h1 class="main-header__title">
                <span class="main-header__title--blue">ProWay</span><span class="main-header__title--orange">Computers</span>
            </h1>
            <nav>
                <ul>
                    <li>
                        <a routerLink="produtos">Produtos:</a>
                    </li>
                    <li>
                        <a class="link-car" routerLink="carrinho">
                            <i class="fa-solid fa-cart-shopping"></i>
                            Carrinho
                            <span class="badge-carrinho">0</span>
                        </a>
                    </li>
                    <!-- <li><a routerLink="contato">Contato</a></li> -->
                    <li>
                        <a><i class="fa-brands fa-facebook-f"></i></a>
                    </li>
                    <li>
                        <a><i class="fa-brands fa-instagram"></i></a>
                    </li>
                    <li>
                        <a><i class="fa-brands fa-twitter"></i></a>
                    </li>
                    <li>
                        <a><i class="fa-brands fa-linkedin-in"></i></a>
                    </li>
                </ul>
                <form class="search-form">
                    <input autofocus type="text" />
                    <button><i class="fa-solid fa-magnifying-glass"></i></button>
                </form>
            </nav>
        </div>
    </header>
</section>
