<footer class="about" id="about">
    <div class="row">
        <div class="content">
            <h2 class="footer__title">Sobre</h2>
            <p class="footer__about-text">
                Mussum Ipsum, cacilds vidis litro abertis. Admodum accumsan
                disputationi eu sit. Vide electram sadipscing et per. Per
                aumento de cachacis, eu reclamis. Paisis, filhis, espiritis
                santis. Cevadis im ampola pa arma uma pindureta.
            </p>
        </div>

        <div class="content">
            <h2 class="footer__title">Contato</h2>
            <ul>
                <li><i class="fa-solid fa-envelope"></i> email@gmail.com</li>
                <li><i class="fa-solid fa-phone"></i> (00) 0000-0000</li>
                <li><i class="fa-brands fa-whatsapp"></i> (00) 0000-0000</li>
            </ul>
        </div>
    </div>
    <div class="footer__copyright">
        &copy; Todos os direitos reservados
    </div>
</footer>
