.about {
    background: var(--light-gray-1);
    color: var(--gray);
    font-size: 1.125rem;
    /* padding-top: 80px; */
    /* margin-bottom: 80px; */
    
}
.about .row {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-flow: wrap;
    max-width: 100%;
    /* min-height: 60vh; */

}

.about .row .content {
    flex: 1 1 20rem;
    padding: 2rem;
}
.content ul li {
    display: block;
}
.content i {
    color: var(--orange);
}
.about .row .content .footer__title {
    font-size: 1.375rem;
    font-weight: bold;
    color: var(--blue);
    margin-bottom: 5px;
}
/* seção copyright */
.footer__copyright {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    background: var(--light-gray-2);
    font-weight: bold;
    padding: 40px 0;
    color: var(--gray);
    width: 100%;
    /* min-height: 30vh; */
}
@media (max-width: 780px) {
    .about {
        padding-top: 150px;
    }
}
/* FIM */
