.product-list {
    padding: 120px 0 40px;
    width: fit-content;
    display: flex;
    gap: 36px;
    flex-flow: row wrap;
    align-content: center;
    justify-content: center;
    margin: 0 auto;

    /* display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem; */
}

.product-list__card {
    box-sizing: border-box;
    padding: 10px;
    border-radius: 4px;
    flex: 0 1 16.875rem; /* 270px */
    width: 100%;
    height: auto;
    background-color: white;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.product-list__card:hover {
    /* outline: 1px solid var(--blue); */
    /* transform: scale(1.1, 1.1); */
    /* box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3); */
    box-shadow: 2px 2px 6px 0px rgba(29, 33, 118, 0.642);
    /* transform: translateY(-5px); */
    cursor: pointer;
}


.product-list__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
    text-decoration: none;
}
.product-list__link div{
    width: 250px;
    height: 250px;
    overflow: hidden;
}
.product-list__card div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* display: block; */
    border-radius: 4px;
}
.product-list__card:hover a div img {
    transform: scale(1.2);

}

.product-item__name {
    font-size: 24px;
    color: var(--blue);
}

.product-item__price {
    color: var(--orange);
    font-size: 32px;
    font-weight: bold;
}

.product-item__price-description {
    color: var(--gray);
    font-size: 12px;
    font-weight: bold;
}

.product-item__buy-button {
    background-color: var(--blue);
    border: none;
    color: white;
    font-size: 20px;
    padding: 6px 12px;
}

.product-item__buy-button:hover {
    filter: brightness(1.2);
    cursor: pointer;
}

@media (max-width: 768px) {
    .product-list {
        padding: 180px 4% 40px;
        /* display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        margin: 0 auto; */
    }
    .product-list__card {
        /* flex: 1 1 300px;
        margin: 25px; */
    }
}
