<section>
    <div class="product__container">
        <h2 class="cart-title">Carrinho</h2>
        <ul>
            <li>
                <img
                    src="../../assets/monitor-1-980.png"
                    alt="Imagem de monitor"
                />
                    <p>Preço: R$ 1300</p>
                    <p>Monitor</p>
                    <p> Quantidade <input type="number" /></p>
                <button class="remove-button">
                    <i class="fa-sharp fa-solid fa-xmark"></i>
                </button>
            </li>
        </ul>
        <h2 class="cart-total">Total: R$ 1300</h2>
        <button class="buy-button">Comprar</button>
    </div>
</section>
