<section class="container">
    <div class="grid">
        <div class="box">
            <img src="../../assets/monitor-1-980.png" alt="" />
            <div class="text">
                <p>Preço: R$ 1300</p>
                <p>Monitor</p>
                <p>Quantidade <input type="number" /></p>
            </div>
            <button class="remove-button">
                <i class="fa-sharp fa-solid fa-xmark"></i>
            </button>
        </div>
        <div class="box">
            <img src="../../assets/monitor-1-980.png" alt="" />
            <div class="text">
                <p>Preço: R$ 1300</p>
                <p>Monitor</p>
                <p>Quantidade <input type="number" /></p>
            </div>
            <button class="remove-button">
                <i class="fa-sharp fa-solid fa-xmark"></i>
            </button>
        </div>
        <div class="box">
            <img src="../../assets/monitor-1-980.png" alt="" />
            <div class="text">
                <p>Preço: R$ 1300</p>
                <p>Monitor</p>
                <p>Quantidade <input type="number" /></p>
            </div>
            <button class="remove-button">
                <i class="fa-sharp fa-solid fa-xmark"></i>
            </button>
        </div>
        <div class="box">
            <img src="../../assets/monitor-1-980.png" alt="" />
            <div class="text">
                <p>Preço: R$ 1300</p>
                <p>Monitor</p>
                <p>Quantidade <input type="number" /></p>
            </div>
            <button class="remove-button">
                <i class="fa-sharp fa-solid fa-xmark"></i>
            </button>
        </div>
        <div class="box-text">
            <h2 class="cart-total">Total: R$ 1300</h2>
            <button class="buy-button">Comprar</button>
        </div>
    </div>
</section>
