section {
    padding: 100px 4% 40px;
    width: 100%;
    /* display: flex; */
    /* justify-content: space-evenly; */
    /* flex-wrap: wrap; */

    max-width: 100%;
    margin: 0 auto;
}
@media (min-width: 780px) {
    .box {
        display: flex;
        align-items: center;
        justify-content: space-between;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        border-radius: 0.5rem;
        overflow: hidden;
        height: 100px;
        margin-bottom: 1rem;
    }
    .text {
        color: var(--gray);
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 2rem;
    }
    .text p {
        font-size: 1.2rem;
    }

    img {
        display: block;
        width: 100px;
        height: auto;
    }
    .remove-button {
        background: #d12761;
        border: none;
        color: white;
        padding: 20px;
        height: 100%;
        transition: 0.2s all;
        cursor: pointer;
    }

    .remove-button:hover {
        filter: brightness(0.9);
    }
    .remove-button i {
        width: 30px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .remove-button:hover i {
        border: 1.5px solid #fff;
        border-radius: 50%;
    }
    .cart-total {
        font-size: 24px;
        color: var(--gray);
        font-weight: 700;
        padding: 8px;
    }

    input {
        width: 5rem;
        padding: 8px;
        text-align: left;
        outline: none;
        border: 1px solid #9c9c9c;
        border-radius: 0.2rem;
    }
    .buy-button {
        background-color: var(--blue) !important;
        border: none;
        color: white;
        padding: 10px 30px;
        font-size: 22px;
        margin-bottom: 10px;
        transition: 0.3s all;
        cursor: pointer;
    }
    .buy-button:hover {
        filter: brightness(1.3);
    }
}


@media (max-width: 780px) {
    section {
        padding: 100px 4% 40px;
    }

    .grid {
        width: 100%;
        display: flex;
        /* flex-direction: column; */
        /* justify-content: space-evenly; */
        justify-content: center;
        flex-wrap: wrap;
        /* margin: 0 auto; */
        gap: 10px;
    }

    .grid > .box {
        background: #eee5e9;
        border: none;
        border-radius: 0.4rem;
        text-align: center;
        /* flex:1 1 350px; */
        width: 350px;
        height: auto;
        transition: transform 0.3s;
        overflow: hidden;
        margin: 0 auto;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    }

    p {
        color: var(--gray);
        font-size: 1rem;
    }
    p > input {
        display: block;
        width: 30%;
        padding: 0 10px;
        margin: 10px auto;

        outline: none;
        border: 1px solid #9c9c9c;
        border-radius: 0.2rem;
    }
    .box-text {
        display: flex;
        flex-direction: column;
        align-items: left;
        justify-content: center;
        border-radius: 0.5rem;
        overflow: hidden;
        width: 350px;
        height: auto;
        overflow: hidden;
        margin: 0 auto;
    }
    .box-text > .cart-total {
        text-align: left;
        font-size: 1.5rem;
        color: var(--gray);
        font-weight: 700;
        padding: 8px;
    }
    .grid > .box:hover {
        /* transform: translateY(5px); */
        box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
    }

    .grid > .box img {
        width: 100%;
        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;
    }

    .text {
        padding: 10px 20px 0;
    }
    .text h3 {
        text-transform: uppercase;
    }
    .text p {
        display: block;
    }

    .remove-button {
        background: #d12761;
        border: none;
        color: white;
        padding: 20px;
        width: 100%;
        transition: 0.2s all;
        cursor: pointer;

        display: flex;
        align-items: center;
        justify-content: center;
    }
    .remove-button:hover {
        filter: brightness(0.7);
    }

    .remove-button i {
        width: 30px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .remove-button:hover i {
        border: 1.5px solid #fff;
        border-radius: 50%;
    }
    .remove-button :hover {
        filter: brightness(0.9);
    }

    .cart-total {
        font-size: 24px;
        color: var(--gray);
        font-weight: 700;
        padding: 8px;
    }

    input {
        width: 50px;
        text-align: center;
    }

    .buy-button {
        background-color: var(--blue) !important;
        border: none;
        color: white;
        padding: 10px 30px;
        font-size: 22px;
        margin-bottom: 10px;
        transition: 0.3s all;
    }
}

@media (max-width: 780px) {
    section {
        padding: 180px 4% 40px;
    }
}

@media (max-width: 450px) {
    li {
        display: flex;
        flex-direction: column;
    }
    .buy-button {
        width: 100%;
    }
}
