/* You can add global styles to this file, and also import other style files */

@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,600&family=Space+Grotesk:wght@300;400;500&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
    font-family: "Lexend", "Montserrat", "Helvetica Neue";
}

:root {
    --orange: #ff7000;
    --blue: #004a76;
    --dark-blue: #002d47;
    --dark-blue-2: #074d769b;
    --gray: rgba(88, 89, 91.1);
    --light-gray-1: rgba(232, 232, 232, 1);
    --light-gray-2: rgba(247, 247, 247);
}

html {
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
  }
  
  html::-webkit-scrollbar {
    width: 0.8rem;
  }
  
  html::-webkit-scrollbar-track {
    background: transparent;
  }
  
  html::-webkit-scrollbar-thumb {
      background: var(--blue);
      border-radius: 5rem;
    }
    html::-webkit-scrollbar-thumb:hover{
      background: var(--dark-blue);

  }
section{
    padding: 2rem 7%;
}
